# pnpm-related options
shamefully-hoist=true
strict-peer-dependencies=false
egistry=https://registry.npmmirror.com
electron_mirror=https://registry.npmmirror.com/binary.html?path=electron/
ELECTRON_BUILDER_BINARIES_MIRROR=https://registry.npmmirror.com/binary.html?path=electron-builder-binaries/